/* Cabecera */
header {
    background-color: var(--azul-claro);
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.header-links {
    display: flex;
    gap: 15px;
}

.linkedin-link {
    color: var(--gris);
}

.linkedin-icon {
    height: 46px;
}

.curriculum-download {
    background-color: var(--gris);
    color: white;
    align-self: center;
    padding: 12px;
    border-radius: 12px;
}

.download-icon {
    height: 16px;
    margin-right: 8px;
}

/* Contenido principal - presentacion */
main {
    padding: 0 100px;
    position: relative;
    color: white;
    height: calc(100vh - 80px);
    background: linear-gradient(-135deg, var(--azul-1) 20%, var(--azul-2) 90%, var(--azul-3) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.curva-blanca {
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.presentacion {
    z-index: 10;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.presentacion h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 500;
}

.presentacion h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 200;
}

.presentacion h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 100;
}

.whatsapp-link {
    font-size: 20px;
    background-color: var(--verde);
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
    border-radius: 30px;
}

.whatsapp-icon {
    height: 36px;
}

.foto {
    z-index: 10;
}

.foto-descripcion {
    font-size: 25px;
    font-weight: 100;
    text-align: justify;
    width: 500px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    line-height: 30px;
}

.foto-perfil {
    width: 500px;
    border-radius: 50%;
}

/* segunda seccion - tecnologias y ayuda */
.tecnologias-ayuda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
    padding: 0 100px;

}

.lista-tecnologias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.tecnologia {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.tecnologia h4 {
    font-size: 25px;
    font-weight: 500;
}

.circulo-azul {
    background-color: var(--azul-oscuro);
    display: grid;
    place-items: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.tecnologia-icono {
    height: 50%;
}

.ayuda {
    align-self: center;
}

.ayuda h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.ayuda p {
    text-align: justify;
    max-width: 600px;
    font-size: 20px;
    line-height: 40px;
}


/* Experiencia laboral */

.experiencia-laboral {
    margin-top: 50px;
    background-color: var(--beige-claro);
    padding: 30px 100px;
}

.experiencia-laboral h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding: 50px;
}

.experiencia {
    display: grid;
    grid-template-columns: 1fr auto 3fr;
    margin: 30px 0;
}

.empresa h3 {
    font-size: 30px;
    margin-bottom: 8px;
}

.empresa p {
    font-size: 20px;
    color: var(--beige-oscuro);
}

.separador {
    padding: 0 100px;
    display: grid;
    gap: 30px;
    grid-template-rows: auto 1fr;
    justify-items: center;
}

.separador .circulo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.separador .linea {
    background-color: black;
    width: 2px;
}

.cargo h3 {
    font-size: 30px;
    margin-bottom: 8px;
}

.cargo p {
    font-size: 20px;
    max-width: 800px;
    font-weight: 100;
    text-align: justify;
    line-height: 35px;
}

.azul-oscuro {
    background-color: var(--azul-oscuro);
}

.morado {
    background-color: var(--morado);
}

.azul-claro {
    background-color: var(--azul-claro);
}

/* proyectos */
.proyectos {
    margin: 60px 0;
}

.proyectos h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding: 50px;
}

.lista-proyectos {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    place-items: center;
}

.proyectos a {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.4);
}

.proyectos img {
    object-fit: cover;
}

/* pie de pagina */
footer {
    display: grid;
    background-color: var(--beige-claro);
    place-items: center;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    margin: 40px 0;
}

.whatsapp-icon-footer, .linkedin-icon-footer {
    height: 40px;
}

.linkedin-icon-footer {
    color: var(--azul-linkedin);
}

.info-personal p{
    padding: 5px 0;
}

.derechos {
    margin-top: 20px;
    padding: 10px;
}